body {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.accordion {
  width: 500px;
  margin: auto;
}

.accordion-item {
  margin-bottom: 1rem
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid;
  border-radius: 12px;
  
}

.accordion-content {
  padding: 1rem;
}